
# Begin password protection #
AuthName "Password Protected"
AuthUserFile /home/users/web/b2508/ipw.rockscapes/public_html/_vti_pvt/service.pwd
# End password protection #
# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>


AuthGroupFile /home/users/web/b2508/ipw.rockscapes/public_html/_vti_pvt/service.grp
