<!DOCTYPE html>
<html>
  <head>
    <title>{{site.name}} : {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
      <li><a href="/">Welcome</a></li>
      <li><a href="/news">&nbsp;</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">&nbsp;</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
     <ul>
      <li>Contact: Ryan Hildebrand</li>
      <li>(425) 444-5673</li>
      <li><a href="mailto:ryan@jrrockscapes.com">ryan@jrrockscapes.com</a></li>
      <li><a href="https://goo.gl/maps/jEKtgCD7N2D2" target="_new">38929 SE Newton ST Snoqualmie, WA 98065</a></li>
     </ul>
    </footer>
  </body>
</html>
